$blue: rgb(19, 144, 229);

.test {
  position: relative;
  width: 100%;
  padding: 24px;

  > h1 {
    color: $blue;

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > h2 {
    color: black;
  }
}
