$blue: rgb(19, 144, 229);

.example {
  position: relative;
  width: 100%;
  padding: 24px;

  > h1 {
    color: $blue;

    > a {
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > h2 {
    color: black;
  }
}

.block {
  margin-top: 16px;
  font-size: 16px;

  > ul {
    margin: 4px 0;
    padding-left: 24px;
  }
}
