.title {
  text-align: center;
  margin: 50px;
  color: rgb(0, 112, 146);
  font-family: sans-serif;
  font-size: 30px;
}

.content {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    margin: 10px 25px;
  }
}
